ion-item, ion-list-header, ion-header, ion-toolbar, ion-list, #item-search-box-id  {
    --background: #fafafa;
}
ion-item:hover, ion-list-header:hover, ion-header:hover, ion-toolbar:hover, ion-list:hover, #item-search-box-id:hover  {
        --background: #fefefe;
    }
ion-item-divider.category-divider {
    --color: var(--ion-text-color);
    text-transform: uppercase;
    font-weight: bold;
    --background: #ededed;
}
@media (prefers-color-scheme: dark) {
    ion-item, ion-list-header, ion-header, ion-toolbar, ion-list, #item-search-box-id  {
        --background: #242424;
    }
    ion-item:hover, ion-list-header:hover, ion-header:hover, ion-toolbar:hover, ion-list:hover, #item-search-box-id:hover  {
        --background: #282828;
    }
    ion-item-divider.category-divider {
        --background: #393939;
    }
}

ion-item.list-button::part(native) { 
    min-height: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textButton {
    text-transform: none;
}


ion-item.shorter-item-no-padding::part(native) {
    min-height: unset;
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-item.shorter-item-some-padding::part(native) {
    min-height: unset;
    padding-top: 6px;
    padding-bottom: 6px;
}

ion-input.shorter-input.shorter-input2{
    min-height: 42px;
}

ion-select.shorter-select.shorter-select2 {
    min-height: 42px;
}

.floating-error-footer {
    border: none;
    outline: none;
    box-shadow: 0 0 15px 10px var(--ion-item-background,#ffffff);
  }