ion-item-divider.category-divider {
    text-transform: uppercase;
    font-weight: bold;
}

ion-item.itemrow-inner {
    background: none;
}

ion-item.list-button::part(native) { 
    min-height: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-item.shorter-item-no-padding::part(native) {
    min-height: unset;
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-item.shorter-item-some-padding::part(native) {
    min-height: unset;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* ion-input.shorter-input.shorter-input2{
    min-height: 42px;
}

ion-select.shorter-select.shorter-select2 {
    min-height: 42px;
} */

ion-reorder-group ion-checkbox {
    flex: none;
    width: min-content;
    margin-right: 1.25rem;
}

.floating-footer {
    border: none;
    outline: none;
}

body {
    --ion-safe-area-top: var(--android-safe-area-top, env(safe-area-inset-top));
    --ion-safe-area-left: var(--android-safe-area-left, env(safe-area-inset-left));
    --ion-safe-area-right: var(--android-safe-area-right, env(safe-area-inset-right));
    --ion-safe-area-bottom: var(--android-safe-area-bottom, env(safe-area-inset-bottom));
    position: relative;
}

body::before, body::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 999;
}

body::before {
    top: 0;
    height: var(--ion-safe-area-top, 0px);
}

body::after {
    bottom: 0;
    height: var(--ion-safe-area-bottom, 0px);
}

ion-fab {
    bottom: calc(10px + var(--ion-safe-area-bottom, 0px));
}

ion-content {
    --padding-bottom: var(--ion-safe-area-bottom);
}

ion-popover::part(content) {
    margin-bottom: var(--ion-safe-area-bottom);
}
