/* CONSTANT */

ion-item.item-completed::part(native) {
    color: #808080;
}
ion-icon.sync-icon {
    color: #a0a0a0;
}
ion-button.button-solid, ion-button.primary-button.ion-color::part(native), ion-fab-button {
    color: #ffffff;
    --color: #ffffff;
}

body::after {
    backdrop-filter: blur(1px);
}

/* LIGHT MODE */

body::before, ion-item, ion-list-header, ion-header, ion-toolbar, ion-list,
ion-title.modal-title, #item-search-box-id, #items-page-header,
#items-page-header > ion-item, ion-select-popover {
    --background: #fafafa;
    background: #fafafa;
}

body::after {
    background-color: #ffffffaa;
}

ion-item:hover, ion-list-header:hover, ion-header:hover, ion-toolbar:hover  {
    --background: #f0f0f0;
    background: #f0f0f0;
    --background-activated: none;
    --background-focused: none;
    --background-hover: none;
}
ion-item-divider.category-divider {
    --color: var(--ion-text-color);
    --background: #ededed;
    background: #ededed;
}
ion-content, ion-list.ion-items-list {
    background: #ffffff;
}
ion-item.itemrow-outer, ion-item.app-menu-item, ion-item.menu-item-label,
ion-list.menu-section ion-menu-toggle:first-of-type ion-item.app-menu-item,
ion-menu ion-list ion-list:first-of-type ion-item-divider {
    border-color: #cacaca;
}
ion-item-divider.uncategorized-color {
    border-color: #000000;
}

/* DARK MODE */

.ion-palette-dark {
    body::before, ion-item, ion-list-header, ion-header, ion-toolbar, ion-list,
    ion-title.modal-title, #item-search-box-id, #items-page-header,
    #items-page-header > ion-item, ion-select-popover {
        --background: #202020;
        background: #202020;
    }
    body::after {
        background-color: #000000aa;
    }
    ion-item:hover, ion-list-header:hover, ion-header:hover, ion-toolbar:hover {
        --background: #2d2d2d;
        background: #2d2d2d;
        --background-activated: none;
        --background-focused: none;
        --background-hover: none;
    }
    ion-item-divider.category-divider {
        --background: #393939;
        background: #393939;
    }
    ion-content, ion-list.ion-items-list {
        background: #000000;
    }
    ion-item.itemrow-outer, ion-item.app-menu-item, ion-item.menu-item-label,
    ion-list.menu-section ion-menu-toggle:first-of-type ion-item.app-menu-item,
    ion-menu ion-list ion-list:first-of-type ion-item-divider {
        border-color: #646464;
    }
    ion-item-divider.uncategorized-color {
        border-color: #ffffff;
    }
}