
ion-item.select-interface-option.indented,ion-item.select-interface-option.indented:hover {
    margin-left: 1rem;
}

ion-item.item-list-selector {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --min-height: auto;
    background: none;
    border: none;
    --background-hover: none;
}

ion-item.item-list-selector::part(native) {
    --min-height: 0px;
    min-height: 0px;
}

ion-item.item-list-selector::part(native) input-wrapper {
    --min-height: auto;
    min-height: auto;
}

#item-list-selector-id item-inner {
    --min-height: auto;
    min-height: auto;
}


#select-list-selector-id {
    --min-height: auto;
    min-height: auto;
}

ion-item.item-search::part(native) {
    min-height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

#item-search-box-id {
    --min-height: auto;
    min-height: auto;
}

ion-item.itemrow-outer {
    --min-height: 6px;
    --padding-top: 9px;
    --padding-bottom: 9px;
}

ion-item.itemrow-outer::part(native) {
    min-height: auto;    
}

ion-item.itemrow-inner::part(native) {
    background: none;
    --background-hover: none;
    border: none;
    min-height: auto;
    --padding-start: 0px;
}

ion-item.item-completed::part(native) {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: #808080;
}

ion-item-divider.item-category-divider {
    margin-top: 16px;
    font-size: smaller;
}

ion-item-divider.item-category-divider.first-category {
    margin-top: 0px;
}

ion-item-divider.uncategorized-color {
    border-bottom: 4px solid black;
}

@media (prefers-color-scheme: dark) {
    ion-item-divider.uncategorized-color {
        border-bottom: 4px solid white;
    }
}

ion-grid.grid-no-pad {
    --ion-grid-padding: 0px;
}

ion-col.col-no-pad {
    --ion-grid-column-padding: 0px;
}

ion-icon.note-icon {
    padding-left: 6px
}

ion-icon.collapse-icon {
    padding-right: 6px
}

ion-item-divider.item-divider-wrapper {
    justify-content: space-between;
}