label.radio-wrapper {
    text-indent: 20px;
}

ion-icon.offline-indicator {
    color: red;
}

ion-icon.online-indicator {
    color: green;
}

ion-popover.server-info-popover {
    --width: 90%;
}

.settings-item {
    min-height: 60px;
}
.settings-item ion-checkbox, .settings-item ion-select, .settings-item ion-radio, .settings-item ion-input {
    min-height: 60px;
    --min-height: 60px;
}