ion-item.app-menu-item, ion-item.menu-item-label {
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 500;
    --min-height: 44px;
}

ion-list-header.app-name {
    font-style: italic;
    font-family: "Lobster Two", sans-serif;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    justify-content: center;
}

ion-item.indented {
    margin-left: 1.5rem;
    margin-bottom: 0px;
}

ion-item.menu-item-label {
    width: 100%;
}

/* Logo */
.app-icon {
    height: 1.25em;
    margin-right: 10px;
}

ion-menu-button {
    margin-left: 0.5rem;
}

/* Edit Icon */
ion-button.standard-text-button {
    color: var(--color-primary); 
    margin-right: 0px;
    margin-top: 0px;
    margin-right: 0px;
    text-overflow: ellipsis;
    min-height: 3px;
}