ion-menu ion-content {
    --padding-top: var(--ion-safe-area-top);
}

ion-item.app-menu-item, ion-item.menu-item-label {
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 500;
    --min-height: 44px;
}

ion-item.app-menu-item, ion-item.menu-item-label {
    --inner-border-width: 0;
}

ion-item.app-menu-item {
    border-bottom: 1px solid;
}

ion-item.menu-item ion-button {
    height: 100%;
}

ion-list.menu-section ion-menu-toggle:first-of-type ion-item.app-menu-item {
    border-top: 1px solid;
}

ion-menu ion-list ion-list:first-of-type ion-item-divider {
    border-top: 1px solid;
    border-bottom: none;
}

ion-item.menu-item ion-button::part(native) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

ion-item.menu-item ion-icon {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-left: 0;
}

ion-item.menu-item::part(native)  {
    --ion-safe-area-right: 0
}

ion-list-header.app-name {
    font-style: italic;
    font-family: "Lobster Two", sans-serif;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    justify-content: center;
}

ion-item.indented {
    padding-left: 1.5rem;
    margin-bottom: 0px;
}

ion-item.menu-item-label {
    width: 100%;
}

/* Logo */
.app-icon {
    height: 1.25em;
    margin-right: 10px;
}

ion-menu-button {
    margin-left: 0.5rem;
}

/* Edit Icon */
ion-button.standard-text-button {
    color: var(--color-primary); 
    margin-right: 0px;
    margin-top: 0px;
    margin-right: 0px;
    text-overflow: ellipsis;
    min-height: 3px;
    font-size: 0.875rem;
}