ion-button.indented {
    margin-left: 1rem;
}

ion-button.textButton {
    color: var(--color-primary);
    margin-right: 4px;
    text-overflow: ellipsis;

}

ion-button.standard-text-button {
    text-transform: none;
    font-size: 14px;
    color: var(--color-primary);
}